<div class="container">

  <h4 class="watch-list-header">Welcome, <%= current_user.fullname %>!</h4>
  <div class="stitched watch-list">
    <div class="row">
      <div class="four columns">
        <%= render :partial => 'layouts/user_avatar.html.erb' %>
      </div><!--4-->

      <div class="eight columns">
        <%= render :partial => 'layouts/admin_header.html.erb' %>
      </div><!--4-->
    </div><!--row-->
  </div>
</div>
