<div class="row">
  <div class="col-md-12"><h1 id="stores-header">Shops</h1></div>
</div>

<% @stores.each_slice(4) do |four_stores| %>
  <div class="row">
  <% four_stores.each do |store| %>
    <div class="col-md-3">
      <div class="stores">
        <h5><%= link_to store.name, store_items_path(store: store.slug) %></h5>
        <%= link_to image_tag(store.items.first.attachment.url), store_items_path(store: store.slug), class: "store-image" %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>