<div class="row">
  <div class="col-md-12"><h1 id="stores-header">Shops</h1></div>
</div>

<% @stores.each do |store| %>
  <div class="col-md-3 stores">
    <h5 class="store-name" > <%= link_to store.name, store_items_path(store: store.slug) %></h5>
      <a class='store-images' href="<%= store_items_path(store: store.slug)  %>"><%= image_tag("default-store.png", :class => "store-image")%></a>
    </div>
<% end %>