<% if current_user.display_name.blank? %>
  <p>Welcome, <%= current_user.fullname %>!</p>
<% else %>
  <p>Welcome, <%= current_user.display_name %>!</p>
<% end %>

<%= link_to "Edit Profile", edit_users_path(current_user) %>
<%= link_to "Past Orders", orders_path %>