<section>
  <div class="row staticpages_hero">
    <header>

    </header>
  </div><!--row-->
</section>

  <div class="mr-roboto">
<section>
  <div class="row quote">
    <div class= "col-md-1 col-md-offset-1">
     <%= image_tag "robot.png", :class => "animate" %>
   </div>
    <div class="offset-by-three six columns">
      <blockquote>Bid on your favorite, nostalgia inducing, collectibles.</blockquote>
    </div><!--4-->
  </div><!--row-->
</section>
  </div>

<main class="about" id="about">
  <div class="row inner-container">
    <div class="twelve columns">
      <h1 name="about">How it Works</h1>
      <div class="row works">
        <div class="col-md-12"><img src="<%= image_path("how-it-works.png")%>"></div>
     </div>
      <h5>Since 1960</h5>
    </div><!--12-->
  </div><!--row-->
</main>

<!-- <section>
<footer>
  <div class="row">
    <div class="twelve columns" >
      <img class="map" src="<%= image_path("how-it-works.png")%>">
    </div>
  </div>
</footer>
</section> -->