<div class="container">

  <h1 class="watch-list-header">Past Orders</h1>
  
  <div class="stitched watch-list">
    <table>
      <tr>
        <th> Item </th>
        <th> Order Total</th>
      </tr>

        <% @orders.each do |order| %>
        <tr>
          <td><%= order.item.name %> </td>

          <td><%= number_to_currency(order.total) %></td>
        </tr>
        <% end %>

    </table>
  </div>

</div>
