/* COLUMNS */
.stores {
  border: 1px solid black;
  // padding: 10px;
  margin: 39px;
  min-height: auto;
  max-height: 350px;
  min-width: 130px;
  background-color: white;
  padding-bottom: 20px;
}

.hello {
  position: absolute;
  max-width: 40px;
  display: none;
}

.black-font {
  color: black;
}

.item-description {
  color: black;
}

.watch-list-header {
  color: #605b63;
}

.user-info-row {
  padding-top: 15px; 
}

.flash-errors{
  background-color: #9b1637;
  padding: 5px;
  text-align: center;
}

.img-thumbnail {
  max-width: 60px;
  margin-top: 5px;
  }


.flash-success{
  background-color: #0d6709;
  padding: 5px;
  text-align: center;
}

.watch-list{
  background-color: #605b63;
}

.login-form {
  padding-top: 13px;

}

.cart-total {
  margin-top: 20px;
  margin-left: 35px;
}

#bid-input {
  margin-bottom: 0;
  padding: none;
}

#bid-input2 {
  margin-top: 10px;
}

#item-show-image {
  max-height: 600px;
  max-width: 450px;
}

.item-show-buttons{
  padding-buttom: 30px;
  margin-bottom: 30px;
}

.special {
  padding: 10px;
}

.item-name-header {
    font-size: 60px;
  letter-spacing:.015em;
  text-align: center;
  letter-spacing:.006em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  background-color: #3d444f;

}

#minimum-bid {
  color: black;
}

#store-image {
  width: 100%;
  margin-top: 60px;
}

.item-name{
  color: black;
}


.time {
  color: black;
}

.less-margin {
  margin-bottom: 0rem;
}

.items {
  border: 2px double black;
  padding: 10px;
  margin: 27px;
  min-height: 550px;
  max-height: 600px;
  min-width: 260px;
  background-color: white;  
}

#nav{
  margin: 0;
  padding: 0;
}

#store-div {
  padding: 15px;
}

#stores-header {
  font-size: 40px;
  letter-spacing:.015em;
  letter-spacing:.006em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  background-color: #3d444f;
  text-align: center;
  padding: 15px 0; //centers text vertically. 15 adds padding to top and bottom
}

.hv-center {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.store-index{
  background-color:#1b3947;
  border-radius: 10px;
}

.store-name {
  a {
    text-decoration: none;
    font-weight: bold;
  }
  font-size: 60px;
  letter-spacing:.015em;
  text-align: center;
  letter-spacing:.006em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  background-color: #3d444f;
}

.works {
  min-height:500px;
  max-height:500px;
  background-size:100%;
}

.column, .columns{
  padding: 20px 0px;
}
.container.staticpages {
  max-width: 100%;
}

.inner-container{
  max-width: 1200px;
  margin: 0 auto;
}
/* FONTS */
// h1, h2, h3, h4, h5, h6, .main-nav{
//   font-family: 'Oswald', sans-serif;
//   color:#fff;
//   text-transform:uppercase;
//   letter-spacing:.006em;
//   text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
// }
// h1, h2, h6{
//   font-family:'Arvo', serif;
//   font-weight:bold;
//   letter-spacing:.006em;
// }
// h6{
//   text-align:center;
//   min-height:50px;
// }

h5{
  text-align:center;
}
// a{
//   text-decoration:none;
//   color:#fff;
// }

// a:hover{
//   color:#8a1f1a;
// }

// p, table{
//   color:#fff;
//   text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
// }

.contact h1, .about h5{
  float:right;
}

hr{
  border: 5px solid #fff;
}

/* NAV */


.top-nav ul li, .main-nav ul li {
  display:inline-block;
  float:left;
}

.top-nav ul li{
  float:right;
  padding:0px 10px;
}

.main-nav{
  background:url(image_path("nav-ribbon.png")) no-repeat;
  background-size: 100% 110px;
  font-size: 30px;
  min-height: 130px;
  // margin: -70px auto 0;
}

.main-nav ul{
  margin-left:80px;
}
.main-nav ul li{
  width:20%;
  padding-top:30px;
}
blockquote{
  margin-left: 15px;
  text-align:center;
  color:#fff;
  font-style:italic;
  position:relative;
  margin-top:35px;
  border-style: none;
}

@-webkit-keyframes thumb {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); }
}

.mr-roboto:hover
{
.animate{
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 225ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 8;
  -webkit-animation-timing-function: linear;
}.right-animate{
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 225ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 8;
  -webkit-animation-timing-function: linear;
}

}

.animate {
  margin-top: 50px;
  min-height: 100px;
  max-width: 90px;
  position: absolute;
  left: -95px;
  top: -30px;
}

.right-animate{
  margin-top: 50px;
  min-height: 100px;
  max-width: 90px;
  position: absolute;
  right: -95px;
  top: -30px;
}


.logo img{
  width: 135px;
  height: 188px;
}

/*BEERS*/

/* FOOT */

/* HOME */

img{
  width:100%;
}

body{
  //background:url(image_path("chalk.jpg")) repeat;
  color:#fff;
  background-color: #dfdecb;

}

#e {
 font-size: 1.75em;
}

#logo {
  background-color: #64e6d0;
}

.staticpages_hero{
  background:url(image_path("rainbow-car-two.png")) no-repeat ;
  min-height:500px;
  max-height:500px;
  background-size:100%;
  top-margin: 0;
}

.about{
 //url(image_path("rust.jpg")) repeat ;
  background-size:100%;
  padding: 10px;

}

#nav {
  // padding-bottom: 10px;
}

.quote {
  background: #3f5b6b //url(image_path("chalk.jpg")) repeat ;

}

#cart {
  font-size: 1.5em;
}

footer{
  //  background:url(image_path("border.png")) repeat-x #000;
   min-height:70px;
   max-height:300px;
}

.contact{
  background:url(image_path("beer-bottles.jpg")) no-repeat ;
}

/*BEERS*/

ul.categories-nav li{
  font-family:'Arvo', serif;
  font-weight:bold;
  letter-spacing:.006em;
  color: #fff;
  display: inline;
  float: left;
  font-size: 30px;
  padding-right: 20px;
  text-transform: uppercase;
}

.beer_bottle{
  margin-top: -80px;
  margin-left: -50px;
}


/* CART */


.stitched{
  border:2px dashed #fff;
  border-radius: 5px;
  padding:20px;
}
table{
  width: 94%;
  margin: 0px 3%;
}

th, tr{
  width:20%;
  text-align:center!important;
}
tr {
   border-bottom: 2px dashed #fff;
}
.basket{
  position:relative;
}

.basket .button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: white;
  // border:none;
  // font-family: 'Oswald', sans-serif;;
  // color:#fff;
  // float:left;
  // margin-right:5px;
}

.basket{
  padding: 50px 0px;
}
.basket p{
  float:right;
  position:relative;
  padding-right:30px;
}
.basket p:before{
  content: "";
  background: url(image_path("basket.png")) no-repeat;
  display: block;
  min-height: 44px;
  min-width: 50px;
  position: absolute;
  left: -61px;
  top: -7px;
}

.body{
  background-color:#000!important;
}


input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  width: 100%;
  color: #000;
}
.beer_row{
  border-bottom: 5px solid #000;
  margin-bottom:10px;
}
.all_orders{
  display:block;
  min-height:140px;
}

.increase_decrease input{
  color:#fff;
  font-size:40px;
  margin-left:5px;
  line-height: 31.1px;
  padding-bottom: 10px;
}

.big-e{
  -webkit-transition-duration:0.8s;
  -moz-transition-duration:0.8s;
  -o-transition-duration:0.8s;
  transition-duration:0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;   
}  
 
#logo:hover  {
  .big-e {
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);}
} 

.individual_beer {
  max-width:80%;
  margin:0 auto;
  display: block;
}

ul.orders{
  display: block;
  margin: 33px;
  font-size: 18px;
}
ul.orders li{
  display:inline-block;
  float:left;
  margin-right:10px;
  list-style:none;
  font-weight:bold;
}

.beerbottle {
  width: 80%;
  margin-top: -68px;
  margin-right: 31px;
  margin-left: 155px;
}

.align-login{
  margin-left: 3px
}

align-log{
  margin-left: none;
}align-log{
  margin-left: none;
}

ul.beerlist li{
  display:inline-block;
  list-style:none;
  float:left;
  margin-right:15px;
  font-weight:bold;
  font-family:'Arvo', serif;
  font-size:20px;

}

div.split-row li{
  list-style:none;
  float:left;
  font-weight:bold;
  font-family:'Arvo', serif;
  font-size:20px;

}

.items-title {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;

  a {
  color: #3d444f;
  }

}

.well {
  height: 400px;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.well-items {
  height: 550px;
}

a:hover {
  text-decoration: none; 
  color: rgba(17, 18, 17, 0.7);
}

.image-border {
  border: 2px solid rgba(17, 18, 17, 0.2);
  border-radius: 10px;
  max-width: 200px;
  width: auto;
  margin-bottom: 10px;
}

.store-column {
  margin-bottom: 30px;
}

.watch-list-header {
  margin-top: 25px;
}

.number-center {
  text-align: center;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

form {
  margin-bottom: 0px; 
}

.expiration-date select {
  width: 49%;
}

.move-down {
  margin-top: 17px;
  font-weight: bold;
}

.bid-button {
  min-width: 400px;

  input[type="number"] {
    width: auto;
  }
}
