<div class="container">
  <%= render :partial => 'layouts/admin_login_header.html.erb' %>
  <%= render :partial => 'layouts/sitewide_header.html.erb' %>

  <h1>Edit</h1>

  <div class="stitched">
    <%= render 'form' %>
  </div>
</div>
