<div class="container">
  <%= render :partial => 'layouts/admin_login_header.html.erb' %>
  <%= render :partial => 'layouts/sitewide_header.html.erb' %>

  <h1>All Beers</h1>

  <%= render :partial => 'layouts/beers.html.erb' %>
</div>
