<div class="row">
  <div class="twelve columns">
    <nav class="top-nav inner-container">
    <ul>
      <li><%= link_to "Dashboard", admin_dashboard_path %></li>
      <li><%= link_to "Logout", login_path %></li>
    </ul>
  </nav>
  </div><!--12-->
</div><!--row-->
