<div class="row">
  <div class="twelve columns">
    <nav class="main-nav inner-container">
    <ul>
      <li><%= link_to "Story", root_path %></li>
      <li><a href=""><%= link_to "Drinks", beers_path %></a></li>
      <li class="logo"><img src="<%= image_path("beer-logo.png")%>">

      </a></li>
      <li><a href="#find">find</a></li>
      <li><a href="">contact</a></li>
    </ul>
  </nav>
  </div><!--12-->
</div><!--row-->
